
.container1{
    padding-top: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.user{
    width: 300px;
    background-color: rgb(29, 21, 21);
    padding: 10px;
    align-items: center;
    border-radius: 30px 0 30px 0;
}
.scores{
    background-color: rgb(79, 39, 39);
    color: aliceblue;
    padding: 5px 20px;
    border-radius: 25px 0 0 0;
    
}
.score__title1,.score__title2{
    margin: 0;
    margin-top: 20px;
    font-size: 50px;
}
.btn__box{
    padding: 10px;
    padding-bottom: 20px;
    background-color: brown;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: aliceblue;
    text-align: center;
    border-radius: 0 0 25px 0;
}
.btn{
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    font-size: 15px;
    background-color: aqua;
    border-radius: 5px;
    color: aliceblue;
    &:hover{
        background-color: rgb(95, 208, 208);
        transform: scale(1.02);
        color: rgb(174, 161, 45);
        
    }
}
.modal.fade .modal-dialog {
    transition: transform 0.7s ease-out;
}

.modal.fade.show .modal-dialog {
    transform: translate(0, 0);
}

.modal.fade .modal-dialog {
    transform: translate(0, -25%);
}
.input{
    border-radius: 15px 0 15px 0;
    width: 150px;
    background-color: rgb(29, 21, 21);
    outline: none;
    border: none;
    color: aliceblue;
    font-size: 25px;
    padding: 5px 10px;
    margin-top: 12px;
}
